<div class="container">
  <div class="panel-heading"><h3 class="intro-text text-center">Edytuj użytkownika</div>
    <div class="col-md-offset-1">
      <%= render 'form' %>
    </div>
</div>
<div>
    <ul class="pager">
      <li><%= link_to 'Powrót', users_path %></li>
    </ul>
</div>
