<div class="container">
  <div class="panel-heading"><h3 class="intro-text text-center">Edytuj Okręg</div>
    <form class="horizontal">
      <%= render 'form' %>
     <div class="link">
      <div class="sm-offset-0 col-sm-10">
        <%= link_to 'Wyświetl', @constituency, class: "btn btn-primary" %>
      </div>
     </div>
    </form>
</div>
    <div>
       <ul class="pager">
         <li><%= link_to 'Powrót', constituencies_path %></li>
       </ul>
     </div>

