<div class="container">
  <div class="panel-heading"><h3 class="intro-text text-center">Edytuj Wyniki</div>
    <div class="col-md-offset-1 panel-default">
      <div class="form-horizontal">
       <%= render 'form' %>
    </div> 
    </div>
</div>
<div>
  <ul class="pager">
    <li><%= link_to 'Powrót', results_path %></li>
  </ul>
</div>

