<div class="container">
  <div class="panel-heading"><h3 class="intro-text text-center">Edytuj Wyniki</div>
    <div class="col-md-offset-6">
      <%= render 'form' %>
      <div class="add">
        <%= link_to 'Wyświetl', @result, class: "btn btn-primary" %>
      </div>
    </div>
    <div>
       <ul class="pager">
         <li><%= link_to 'Powrót', results_path %></li>
       </ul>
     </div>
</div>
