<div class="container">
  <div class="content">
    <div class="panel-info">
      <h3 class="intro-text text-center">
        Dodaj wyniki
      </h3>
    </div>
    <div class="col-md-offset-1">
      <%= render 'form' %>
    </div>
  </div>
</div>
  <div>
    <ul class="pager">
      <li><%= link_to 'Powrót', results_path %></li>
    </ul>
  </div>
