
<%= form_for(@committee) do |f| %>
  <% if @committee.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4>Dane są niepoprawne!</h4>
    </div>
  <% end %>
  <div class="field">
     <%= f.text_field :name, class: 'form-control', autofocus: true, placeholder:"Nazwa" %>
  </div></br>
  <div class="action">
         <%= f.submit "Potwierdź", class: "btn btn-info" %>
  </div>
     <% end %>
  </form>
</div>
