<div class="container">
  <div class="content">
  <div class="panel-info"><h3 class="intro-text text-center">Dodaj nowy komitet wyborczy</h3></div>
    <div calss="col-md-offset-6">  
      <%= render 'form' %>
    </div>
   </div>
   <div>
    <ul class="pager">
      <li><%= link_to 'Powrót', committees_path %></li>
    </ul>
   </div>
</div>
